# Import Library

In [1]:
import pandas as pd
import plotly.express as px
import streamlit as st
import numpy as np

# Read Data

In [2]:
# read data
customer = pd.read_csv('data/customer_all.csv')
customer

,CustomerID,NIK,Annual_Income,Spending_Score,Profession,Work_Experience,Family_Size
0,1,5203172209040014,15000000,39,Healthcare,1,4
1,2,1705032211020016,35000000,81,Engineer,3,3
2,3,7606055105030001,86000000,6,Engineer,1,1
3,4,7317074601000015,59000000,77,Lawyer,0,2
4,5,3215114911920008,38000000,40,Entertainment,2,6
...,...,...,...,...,...,...,...
1102,1989,1309107105690005,118944000,77,Artist,4,4
1103,1990,1808105401760019,75293000,55,Doctor,6,7
1104,1991,1604226904930019,166983000,69,Artist,7,3
1105,1994,1602144104590017,175254000,100,Artist,9,5
1106,1995,1401105003040006,54121000,89,Engineer,6,3

# Data Inspection

In [3]:
customer.head()

,CustomerID,NIK,Annual_Income,Spending_Score,Profession,Work_Experience,Family_Size
0,1,5203172209040014,15000000,39,Healthcare,1,4
1,2,1705032211020016,35000000,81,Engineer,3,3
2,3,7606055105030001,86000000,6,Engineer,1,1
3,4,7317074601000015,59000000,77,Lawyer,0,2
4,5,3215114911920008,38000000,40,Entertainment,2,6

In [4]:
customer.nunique()

CustomerID         1107
NIK                1107
Annual_Income       949
Spending_Score      100
Profession           10
Work_Experience      18
Family_Size           9
dtype: int64

In [5]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1107 entries, 0 to 1106
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       1107 non-null   int64
 1   NIK              1107 non-null   int64
 2   Annual_Income    1107 non-null   int64
 3   Spending_Score   1107 non-null   int64
 4   Profession       1107 non-null   object
 5   Work_Experience  1107 non-null   int64
 6   Family_Size      1107 non-null   int64
dtypes: int64(6), object(1)
memory usage: 60.7+ KB

In [6]:
customer.describe()

,CustomerID,NIK,Annual_Income,Spending_Score,Work_Experience,Family_Size
count,1107.000000,1.107000e+03,1.107000e+03,1107.00000,1107.000000,1107.000000
mean,919.416441,4.386192e+15,1.062517e+08,50.64047,3.967480,3.645890
std,605.895749,2.618414e+15,4.780587e+07,27.86101,3.904931,1.937353
min,1.000000,1.101052e+15,0.000000e+00,1.00000,0.000000,1.000000
25%,357.000000,1.802241e+15,6.982750e+07,27.00000,1.000000,2.000000
50%,905.000000,3.510114e+15,1.024130e+08,50.00000,3.000000,3.000000
75%,1440.500000,7.103154e+15,1.465350e+08,74.00000,7.000000,5.000000
max,1995.000000,9.271105e+15,1.899450e+08,100.00000,17.000000,9.000000

In [7]:
customer['Family_Size'].unique()

array([4, 3, 1, 2, 6, 5, 8, 7, 9])

In [8]:
customer['Work_Experience'].unique()

array([ 1,  3,  0,  2,  4,  9, 12, 13,  5,  8, 14,  7,  6, 10, 11, 15, 16,
       17])

In [9]:
customer['Profession'].unique()

array(['Healthcare', 'Engineer', 'Lawyer', 'Entertainment', 'Artist',
       'Executive', 'Doctor', 'Homemaker', 'Marketing', 'Not Employed'],
      dtype=object)

**Deskripsi data**:  

Data `customer` merupakan data pelanggan dari suatu perusahaan
- `CustomerID`: Nomor ID pelanggan
- `NIK`: Nomor Induk Kependudukan pelanggan
- `Annual_Income`: Pendapatan Tahunan pelanggan
- `Spending_Score`: Penilaian terhadap pelanggan berdasarkan sifat kebiasaan belanja / tingkat konsumtif (rentang angka penilaian dari 1 sd 100)
- `Profession`: Jenis profesi / bidang pekerjaan pelanggan :
    - Healthcare
    - Engineer
    - Lawyer
    - Entertainment
    - Artist
    - Executive
    - Doctor
    - Homemaker
    - Marketing
    - Not Employed
- `Work_Experience`: Pengalaman kerja pelanggan (tahun) dari 0 sd 17 tahun
- `Family_Size`: Jumlah anggota keluarga dalam satu Kartu Keluarga dari pelanggan tersebut

## Mengganti Tipe Data

In [10]:
# cek tipe data employee
customer.dtypes

CustomerID          int64
NIK                 int64
Annual_Income       int64
Spending_Score      int64
Profession         object
Work_Experience     int64
Family_Size         int64
dtype: object

> **Kolom category:** 

- Profession
- Work_Experience
- Family_Size

> **Kolom object:** 

- CustomerID
- NIK

In [11]:
# ubah tipe data beberapa kolom
kolom_category = ['Profession', 'Work_Experience', 'Family_Size']

customer[kolom_category] = customer[kolom_category].astype('category')

# cek kembali tipe data
customer.dtypes

CustomerID            int64
NIK                   int64
Annual_Income         int64
Spending_Score        int64
Profession         category
Work_Experience    category
Family_Size        category
dtype: object

In [12]:
# ubah tipe data ke object (EmployeeID & NIK)
kolom_object = ['CustomerID','NIK']

customer[kolom_object] = customer[kolom_object].astype('object')

# cek kembali tipe data
customer.dtypes

CustomerID           object
NIK                  object
Annual_Income         int64
Spending_Score        int64
Profession         category
Work_Experience    category
Family_Size        category
dtype: object

Pembuatan kategori `income_level` dari kolom `Annual_Income` dibagi menjadi tiga kategori: `Low Income`, `Average Income`, dan `High Income`

In [13]:
income_bins =  [-np.inf, np.percentile(customer['Annual_Income'], 25), 
               np.percentile(customer['Annual_Income'], 75), 
               np.inf]
income_names = ['Low Income', 'Average Income', 'High Income']

# simpan ke kolom 'customer_level'
customer['income_level'] = pd.cut(x=customer['Annual_Income'], bins=income_bins, labels=income_names)
customer.head()

,CustomerID,NIK,Annual_Income,Spending_Score,Profession,Work_Experience,Family_Size,income_level
0,1,5203172209040014,15000000,39,Healthcare,1,4,Low Income
1,2,1705032211020016,35000000,81,Engineer,3,3,Low Income
2,3,7606055105030001,86000000,6,Engineer,1,1,Average Income
3,4,7317074601000015,59000000,77,Lawyer,0,2,Low Income
4,5,3215114911920008,38000000,40,Entertainment,2,6,Low Income

Pembuatan kategori `customer_level` dari kolom `Spending_Score` dibagi menjadi tiga kategori: `Low Spender`, `Average Spender`, dan `High Spender`

In [14]:
spend_bins =  [-np.inf, np.percentile(customer['Spending_Score'], 25), 
               np.percentile(customer['Spending_Score'], 75), 
               np.inf]
spend_names = ['Low Spender', 'Average Spender', 'High Spender']

# simpan ke kolom 'customer_level'
customer['customer_level'] = pd.cut(x=customer['Spending_Score'], bins=spend_bins, labels=spend_names)
customer.head()

,CustomerID,NIK,Annual_Income,Spending_Score,Profession,Work_Experience,Family_Size,income_level,customer_level
0,1,5203172209040014,15000000,39,Healthcare,1,4,Low Income,Average Spender
1,2,1705032211020016,35000000,81,Engineer,3,3,Low Income,High Spender
2,3,7606055105030001,86000000,6,Engineer,1,1,Average Income,Low Spender
3,4,7317074601000015,59000000,77,Lawyer,0,2,Low Income,High Spender
4,5,3215114911920008,38000000,40,Entertainment,2,6,Low Income,Average Spender

# Data Pre-processing and Feature Engineering

## Data Enrichment

In [15]:
from nomiden import reader as nr

nik_generate = pd.DataFrame(customer['NIK'].apply(lambda x: nr.NIK(x).all_info).tolist())
nik_generate.head()

,NIK,province,city,district,gender,birth_datetime,birthday,age,regist_code
0,5203172209040014,NUSA TENGGARA BARAT,KAB. LOMBOK TIMUR,Labuhan Haji,Male,2004-09-22,22 September 2004,19,14
1,1705032211020016,BENGKULU,KAB. SELUMA,Talo,Male,2002-11-22,22 November 2002,21,16
2,7606055105030001,SULAWESI BARAT,KAB. MAMUJU TENGAH,Karossa,Female,2003-05-11,11 May 2003,20,1
3,7317074601000015,SULAWESI SELATAN,KAB. LUWU,Belopa,Female,2000-01-06,06 January 2000,23,15
4,3215114911920008,JAWA BARAT,KAB. KARAWANG,Cibuaya,Female,1992-11-09,09 November 1992,31,8

In [16]:
# Merge Data Frame
customer_merge = customer.merge(right=nik_generate, on='NIK')
customer_merge.head()

,CustomerID,NIK,Annual_Income,Spending_Score,Profession,Work_Experience,Family_Size,income_level,customer_level,province,city,district,gender,birth_datetime,birthday,age,regist_code
0,1,5203172209040014,15000000,39,Healthcare,1,4,Low Income,Average Spender,NUSA TENGGARA BARAT,KAB. LOMBOK TIMUR,Labuhan Haji,Male,2004-09-22,22 September 2004,19,14
1,2,1705032211020016,35000000,81,Engineer,3,3,Low Income,High Spender,BENGKULU,KAB. SELUMA,Talo,Male,2002-11-22,22 November 2002,21,16
2,3,7606055105030001,86000000,6,Engineer,1,1,Average Income,Low Spender,SULAWESI BARAT,KAB. MAMUJU TENGAH,Karossa,Female,2003-05-11,11 May 2003,20,1
3,4,7317074601000015,59000000,77,Lawyer,0,2,Low Income,High Spender,SULAWESI SELATAN,KAB. LUWU,Belopa,Female,2000-01-06,06 January 2000,23,15
4,5,3215114911920008,38000000,40,Entertainment,2,6,Low Income,Average Spender,JAWA BARAT,KAB. KARAWANG,Cibuaya,Female,1992-11-09,09 November 1992,31,8

In [17]:
# Cek tipe data
customer_merge.dtypes

CustomerID                 object
NIK                        object
Annual_Income               int64
Spending_Score              int64
Profession               category
Work_Experience          category
Family_Size              category
income_level             category
customer_level           category
province                   object
city                       object
district                   object
gender                     object
birth_datetime     datetime64[ns]
birthday                   object
age                         int64
regist_code                 int64
dtype: object

Pembuatan kolom `birth_year` yang berisi tahun lahir pelanggan

In [18]:
customer_merge['birth_year'] = customer_merge['birth_datetime'].dt.year

customer_merge.dtypes

CustomerID                 object
NIK                        object
Annual_Income               int64
Spending_Score              int64
Profession               category
Work_Experience          category
Family_Size              category
income_level             category
customer_level           category
province                   object
city                       object
district                   object
gender                     object
birth_datetime     datetime64[ns]
birthday                   object
age                         int64
regist_code                 int64
birth_year                  int32
dtype: object

Pembuatan kategori generasi `generation` dari kolom tahun kelahiran `birth_year` pelanggan

In [19]:
gen_bins =  [0, 1900, 1927, 1945, 1964, 1980, 1996, 2012, np.inf]
gen_names = ['Lost', 'Greatest', 'Silent', 'Boomers', 'Gen. X', 'Gen. Y (Millenials)', 'Gen. Z (Zoomers)', 'Alpha']

# simpan ke kolom 'generation'
customer_merge['generation'] = pd.cut(x=customer_merge['birth_year'], bins=gen_bins, labels=gen_names)
customer_merge.head()

,CustomerID,NIK,Annual_Income,Spending_Score,Profession,Work_Experience,Family_Size,income_level,customer_level,province,city,district,gender,birth_datetime,birthday,age,regist_code,birth_year,generation
0,1,5203172209040014,15000000,39,Healthcare,1,4,Low Income,Average Spender,NUSA TENGGARA BARAT,KAB. LOMBOK TIMUR,Labuhan Haji,Male,2004-09-22,22 September 2004,19,14,2004,Gen. Z (Zoomers)
1,2,1705032211020016,35000000,81,Engineer,3,3,Low Income,High Spender,BENGKULU,KAB. SELUMA,Talo,Male,2002-11-22,22 November 2002,21,16,2002,Gen. Z (Zoomers)
2,3,7606055105030001,86000000,6,Engineer,1,1,Average Income,Low Spender,SULAWESI BARAT,KAB. MAMUJU TENGAH,Karossa,Female,2003-05-11,11 May 2003,20,1,2003,Gen. Z (Zoomers)
3,4,7317074601000015,59000000,77,Lawyer,0,2,Low Income,High Spender,SULAWESI SELATAN,KAB. LUWU,Belopa,Female,2000-01-06,06 January 2000,23,15,2000,Gen. Z (Zoomers)
4,5,3215114911920008,38000000,40,Entertainment,2,6,Low Income,Average Spender,JAWA BARAT,KAB. KARAWANG,Cibuaya,Female,1992-11-09,09 November 1992,31,8,1992,Gen. Y (Millenials)

In [20]:
# Cek kembali tipe data
customer_merge.dtypes

CustomerID                 object
NIK                        object
Annual_Income               int64
Spending_Score              int64
Profession               category
Work_Experience          category
Family_Size              category
income_level             category
customer_level           category
province                   object
city                       object
district                   object
gender                     object
birth_datetime     datetime64[ns]
birthday                   object
age                         int64
regist_code                 int64
birth_year                  int32
generation               category
dtype: object

## Data Exporting

In [21]:
# Simpan ke format pickle
customer_merge.to_pickle('data/customer_clean.pkl')

In [22]:
# Baca data customer_merge.pkl dan assign ke variable customer_pkl
customer_clean = pd.read_pickle('data/customer_clean.pkl')
customer_clean.head()

,CustomerID,NIK,Annual_Income,Spending_Score,Profession,Work_Experience,Family_Size,income_level,customer_level,province,city,district,gender,birth_datetime,birthday,age,regist_code,birth_year,generation
0,1,5203172209040014,15000000,39,Healthcare,1,4,Low Income,Average Spender,NUSA TENGGARA BARAT,KAB. LOMBOK TIMUR,Labuhan Haji,Male,2004-09-22,22 September 2004,19,14,2004,Gen. Z (Zoomers)
1,2,1705032211020016,35000000,81,Engineer,3,3,Low Income,High Spender,BENGKULU,KAB. SELUMA,Talo,Male,2002-11-22,22 November 2002,21,16,2002,Gen. Z (Zoomers)
2,3,7606055105030001,86000000,6,Engineer,1,1,Average Income,Low Spender,SULAWESI BARAT,KAB. MAMUJU TENGAH,Karossa,Female,2003-05-11,11 May 2003,20,1,2003,Gen. Z (Zoomers)
3,4,7317074601000015,59000000,77,Lawyer,0,2,Low Income,High Spender,SULAWESI SELATAN,KAB. LUWU,Belopa,Female,2000-01-06,06 January 2000,23,15,2000,Gen. Z (Zoomers)
4,5,3215114911920008,38000000,40,Entertainment,2,6,Low Income,Average Spender,JAWA BARAT,KAB. KARAWANG,Cibuaya,Female,1992-11-09,09 November 1992,31,8,1992,Gen. Y (Millenials)

In [23]:
# cek tipe data customer_pkl
customer_clean.dtypes

CustomerID                 object
NIK                        object
Annual_Income               int64
Spending_Score              int64
Profession               category
Work_Experience          category
Family_Size              category
income_level             category
customer_level           category
province                   object
city                       object
district                   object
gender                     object
birth_datetime     datetime64[ns]
birthday                   object
age                         int64
regist_code                 int64
birth_year                  int32
generation               category
dtype: object

# Exploratory Data Analysis

In [24]:
kondisi_null = customer_clean['Annual_Income'] == 0

customer_clean[kondisi_null]

,CustomerID,NIK,Annual_Income,Spending_Score,Profession,Work_Experience,Family_Size,income_level,customer_level,province,city,district,gender,birth_datetime,birthday,age,regist_code,birth_year,generation
166,170,3310240107910005,0,63,Artist,2,2,Low Income,Average Spender,JAWA TENGAH,KAB. KLATEN,Klaten Utara,Male,1991-07-01,01 July 1991,32,5,1991,Gen. Y (Millenials)
219,247,7606010712000018,0,96,Doctor,1,3,Low Income,High Spender,SULAWESI BARAT,KAB. MAMUJU TENGAH,Tobadak,Male,2000-12-07,07 December 2000,23,18,2000,Gen. Z (Zoomers)

In [25]:
customer_clean.describe(include = 'category')

,Profession,Work_Experience,Family_Size,income_level,customer_level,generation
count,1107,1107,1107,1107,1107,1107
unique,10,18,9,3,3,4
top,Artist,1,2,Average Income,Average Spender,Gen. Y (Millenials)
freq,355,268,211,553,554,359

âœï¸ **Insight** :
Customer yang **terbanyak melakukan transaksi pembelian** adalah customer dengan profil sbb: 
- profesi pekerjaan sebagai Artist
- Level pendapatan di Average Income
- Level pembelian adalah di Average Spender
- Generasi Y (Millenials)

## Visualization

### Map Plot : Jumlah customer untuk tiap **gender** pada tiap provinsi

In [26]:

prov_gender = pd.crosstab(index = customer_clean['province'],
                   columns = customer_clean['gender'],
                   colnames=[None]).reset_index()

prov_gender['Total'] = prov_gender['Female'] + prov_gender['Male']

prov_gender

                      province  Female  Male  Total
0                         ACEH      26    20     46
1                         BALI       3     2      5
2                       BANTEN      16     7     23
3                     BENGKULU       9    13     22
4   DAERAH ISTIMEWA YOGYAKARTA      11     6     17
5                  DKI JAKARTA       2     3      5
6                    GORONTALO       8     7     15
7                        JAMBI      14    13     27
8                   JAWA BARAT      65    27     92
9                  JAWA TENGAH      56    29     85
10                  JAWA TIMUR      60    48    108
11            KALIMANTAN BARAT      13    11     24
12          KALIMANTAN SELATAN      13     4     17
13           KALIMANTAN TENGAH      15     8     23
14            KALIMANTAN TIMUR      13     9     22
15            KALIMANTAN UTARA       1     3      4
16   KEPULAUAN BANGKA BELITUNG       2     3      5
17              KEPULAUAN RIAU      10     7     17
18                     LAMPUNG      19    10     29
19                      MALUKU       5     6     11
20                MALUKU UTARA       8     2     10
21         NUSA TENGGARA BARAT      10     4     14
22         NUSA TENGGARA TIMUR      33    26     59
23                       PAPUA      46    32     78
24                 PAPUA BARAT      13    13     26
25                        RIAU      11     4     15
26              SULAWESI BARAT       6     7     13
27            SULAWESI SELATAN      27    17     44
28             SULAWESI TENGAH      14     7     21
29           SULAWESI TENGGARA      23    16     39
30              SULAWESI UTARA      16    12     28
31              SUMATERA BARAT      13    19     32
32            SUMATERA SELATAN      33    13     46
33              SUMATERA UTARA      55    30     85

In [27]:
coord = pd.read_csv('data/coordinate.csv')

In [28]:
# Map Visualization
df_map = prov_gender.merge(coord, on='province')

# plot: map
plot_map = px.scatter_mapbox(data_frame=df_map, lat='latitude', lon='longitude',
                             mapbox_style='carto-positron', zoom=3,
                             size='Total',
                             hover_name='province',
                             hover_data={'Male': True,
                                         'Female': True,
                                         'latitude': False,
                                         'longitude': False})

plot_map

###

### Horizontal Bar Plot : Jumlah customer untuk tiap **income level** pada tiap Profesi

In [29]:
prof_income_level = pd.crosstab(index = customer_clean['Profession'],
                                columns = customer_clean['income_level'],
                                colnames=[None])

prof_income_level_melt = prof_income_level.melt(ignore_index=False,
                                                var_name = 'income_level',
                                                value_name = 'num_people')

prof_income_level_melt = prof_income_level_melt.reset_index()

prof_income_level_melt

       Profession    income_level  num_people
0          Artist      Low Income          89
1          Doctor      Low Income          22
2        Engineer      Low Income          18
3   Entertainment      Low Income          29
4       Executive      Low Income          23
5      Healthcare      Low Income          49
6       Homemaker      Low Income           7
7          Lawyer      Low Income          23
8       Marketing      Low Income          15
9    Not Employed      Low Income           2
10         Artist  Average Income         184
11         Doctor  Average Income          37
12       Engineer  Average Income          50
13  Entertainment  Average Income          52
14      Executive  Average Income          43
15     Healthcare  Average Income          93
16      Homemaker  Average Income          25
17         Lawyer  Average Income          36
18      Marketing  Average Income          21
19   Not Employed  Average Income          12
20         Artist     High Income          82
21         Doctor     High Income          25
22       Engineer     High Income          25
23  Entertainment     High Income          33
24      Executive     High Income          17
25     Healthcare     High Income          60
26      Homemaker     High Income           4
27         Lawyer     High Income          18
28      Marketing     High Income          10
29   Not Employed     High Income           3

In [30]:
plot_prof_income = px.bar(data_frame = prof_income_level_melt,
                          x = 'num_people', y = 'Profession',
                          color = 'income_level',
                          barmode = 'group',
                          labels = {'num_people' : 'Customer Count',
                                   'income_level' : 'Income Level'}
                        )

plot_prof_income

/Users/mel/miniconda3/envs/dss_nik_lbb/lib/python3.10/site-packages/plotly/express/_core.py:2044: FutureWarning:

The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.

### Multivariate Plot : Gender per Kategori Level Pembelanjaan, Age 20 sd 55

In [31]:
# data : multivariate
customer_age = customer_clean[customer_clean['age'].between(left = 20, right = 55)]
customer_level_gender = pd.crosstab(index = customer_age['customer_level'],
                          columns = customer_age['gender'],
                          colnames = [None])
customer_level_gender_melt = customer_level_gender.melt(ignore_index=False,
                                                        var_name = 'gender',
                                                        value_name = 'num_people')

customer_level_gender_melt = customer_level_gender_melt.reset_index()

customer_level_gender_melt

    customer_level  gender  num_people
0      Low Spender  Female         122
1  Average Spender  Female         237
2     High Spender  Female         113
3      Low Spender    Male          76
4  Average Spender    Male         145
5     High Spender    Male          77

In [32]:
# plot : multivariate
plot_cust_level = px.bar(data_frame = prov_income_level,
                         x = 'customer_level', y = 'num_people',
                         color = 'gender',
                         barmode = 'group',
                         labels = {'num_people' : 'Customer Count',
                                   'customer_level' : 'Spending Level',
                                   'gender': 'Gender'},
                        )

plot_cust_level

NameError: name 'prov_income_level' is not defined

In [ ]:
spend_gender = pd.crosstab(index = customer_clean['customer_level'],
                   columns = customer_clean['gender'],
                   colnames=[None])

spend_gender['Total'] = spend_gender['Female'] + spend_gender['Male']

spend_gender

### Barplot: Customer Count per Generation with Profession as Artist

In [ ]:
customer_profession = customer_clean[customer_clean['Profession'] == 'Artist']

df_gen = pd.crosstab(index = customer_profession['generation'], 
                     columns = 'num_people', 
                     colnames = [None])

df_gen = df_gen.reset_index()

In [ ]:
# plot: barplot
plot_gen = px.bar(df_gen, x='generation', y='num_people', 
                   labels = {'generation' : 'Generation',
                             'num_people' : 'Customer Count'})

plot_gen